<root><logo>logo.svg</logo><name>New Cafe</name><description></description><time>DAILY FROM 12 A.M. TO 12 P.M.</time><address>Address cafe</address><tel>+telephone</tel><email>e-mail</email><map>&lt;iframe src=&quot;https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26360909.888257857!2d-113.74875964478711!3d36.24229940962353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2z0KHQvtC10LTQuNC90LXQvdC90YvQtSDQqNGC0LDRgtGLINCQ0LzQtdGA0LjQutC4!5e0!3m2!1sru!2sru!4v1607089282711!5m2!1sru!2sru&quot; width=&quot;600&quot; height=&quot;450&quot; frameborder=&quot;0&quot; style=&quot;border:0;&quot; allowfullscreen=&quot;&quot; aria-hidden=&quot;false&quot; tabindex=&quot;0&quot;&gt;&lt;/iframe&gt;</map></root>